<div class="bigTitle">
    Plan 2
</div>

<div id="seperation-strip"></div>

<div class=control-width-big>
        <div class="card-big">
            <img class="card-img-bottom" src="https://wallpaperaccess.com/full/2677048.jpg">
            <div class="card-img-overlay">
                <h1>Plan 2</h1>
                <br>
                <h4 class="h-card"><b>$19.99</b></h4>
                <p class="p-card" style="font-size: x-small;">
                    Pricing for 5 lines. <br>
                    Taxes & fees included.
                </p>
                <br>
                <p class="p-card" style="font-size:medium;">
                    Device Limit: 5 <br>
                    5G access at no extra cost <br>
                    Unlimited texting abroad <br>
                    3G mobile hotspot data <br>
                    Nationwide coverage
                </p>
                <br>
                <input type="submit" class="btn btn-primary" [routerLink]="['/plans']">
            </div>
        </div>
</div>

