<div class="bigTitle">
    Plan 1
</div>

<div id="seperation-strip"></div>

<div class=control-width-big>
        <div class="card-big">
            <img class="card-img-bottom" src="https://images.pexels.com/photos/1156684/pexels-photo-1156684.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            <div class="card-img-overlay">
                <h1>Plan 1</h1>
                <br>
                <h4 class="h-card"><b>$14.99</b></h4>
                <p class="p-card" style="font-size: x-small;">
                    Pricing for 3 lines. <br>
                    Plus taxes & fees.
                </p>
                <br>
                <p class="p-card" style="font-size:medium;">
                    Device Limit: 3 <br>
                    5G access at no extra cost <br>
                    Unlimited texting abroad <br>
                    3G mobile hotspot data <br>
                    Nationwide coverage
                </p>
                <br>
                <input type="submit" class="btn btn-primary" [routerLink]="['/plans']">
            </div>
        </div>
</div>

