<div class="bigTitle">
    Home
</div>

<div id="seperation-strip"></div>

<div class=control-width>
    <a [routerLink]="['/plans']">
        <div class="card">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/2677048.jpg">
            <div class="card-img-overlay">
                <h1>Plans</h1>
                <br>
                <h4><b>Description:</b></h4>
                <p>Get our list of plans available for purchase.</p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/login']">
        <div class="card" style="margin-left: 5px;">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/2677048.jpg">
            <div class="card-img-overlay">
                <h1>Account Info</h1>
                <br>
                <h4><b>Description:</b></h4>
                <p>Look at the information connected to your account.</p>
            </div>
        </div>
    </a>
</div>

