<div style="text-align:center" class="bigTitle" *ngIf="person">
    {{ person.name }}
</div>

<div id="seperation-strip"></div>

<table id="plans-list" class="table table-hover table-bordered table-striped">
    <thead>
        <tr style="font-weight: bolder; font-size: x-large; text-align: center;">
            <td colspan="5"><button style="float: left" class="btn btn-primary" (click)="updatePlans()">View Plans</button>Current Plans</td>
        </tr>
        <tr>
            <td>Plan id</td>
            <td>Plan Name</td>
            <td>Device Limit</td>
            <td>Cost</td>
        </tr>
    </thead>
    <tbody id="plan-list-body">
        <tr *ngFor="let plan of PlanList">
            <td>{{ plan.id }}</td>
            <td>{{ plan.name }}</td>
            <td>{{ plan.device_limit }}</td>
            <td>{{ plan.cost }}</td>
        </tr>
        <tr>
            <td colspan="4" style="float: left;">Total Cost: {{ totalCost }}</td>
        </tr>
    </tbody>
</table>

<table id="devices-list" class="table table-hover table-bordered table-striped">
    <thead>
        <tr style="font-weight: bolder; font-size: x-large; text-align: center;">
            <td colspan="4"><button style="float: left" class="btn btn-primary" (click)="updateDevice()">View Devices</button>Current Devices<button id="addButton" style="float: right" class="btn btn-primary" (click)="addSwitch()">Add Device</button></td>
        </tr>
        <tr>
            <td>Company</td>
            <td>Phone Number</td>
            <td>Associated Plan</td>
        </tr>
    </thead>
    <tbody id="device-list-body">
        <tr *ngFor="let device of DeviceList">
            <td>{{ device.phone_type }}</td>
            <td>{{ device.phone_number }}</td>
            <td>{{ device.planId }} <button style="float: right" class="btn btn-primary" (click)="deleteDevice(device)">Delete</button></td>
        </tr>
    </tbody>
</table>