<div class="bigTitle">
    Find your plan.
</div>

<div id="seperation-strip"></div>

<div class=control-width>
    <a [routerLink]="['/purchase']">
        <div class="card">
            <img src="https://www.zdnet.com/a/img/resize/d8d1dd7e6aed73b3a74b956e049faf7be983ee69/2021/01/07/455aade3-9b8b-435c-927d-9d5a2891c08f/samsung-galaxy-s20-fe-best-phones-review.png?width=1200&height=900&fit=crop&auto=webp">
            <div class="card-img-overlay">
                <h1>Plan 1</h1>
                <h4><b>Price: $14.99</b></h4>
                <p>Device Limit: 3</p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/home']">
        <div class="card">
            <img src="https://www.zdnet.com/a/img/resize/d8d1dd7e6aed73b3a74b956e049faf7be983ee69/2021/01/07/455aade3-9b8b-435c-927d-9d5a2891c08f/samsung-galaxy-s20-fe-best-phones-review.png?width=1200&height=900&fit=crop&auto=webp" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
                <h1>Plan 2</h1>
                <h4><b>Price: $19.99</b></h4>
                <p>Device Limit: 5</p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/account']">
        <div class="card">
            <img src="https://www.zdnet.com/a/img/resize/d8d1dd7e6aed73b3a74b956e049faf7be983ee69/2021/01/07/455aade3-9b8b-435c-927d-9d5a2891c08f/samsung-galaxy-s20-fe-best-phones-review.png?width=1200&height=900&fit=crop&auto=webp" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
                <h1>Plan 3</h1>
                <h4><b>Price: $29.99</b></h4>
                <p>Device Limit: 7</p>
            </div>
        </div>
    </a>
</div>
