<div class="bigTitle">
    Find your plan.
</div>

<div id="seperation-strip"></div>

<div class=control-width>
    <a [routerLink]="['/plan1']">
        <div class="card">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/2677048.jpg">
             <div class="card-img-overlay">
                <h1>Plan 1</h1>
                <br>
                <h4><b>$14.99</b></h4>
                <p style="font-size: x-small;">
                    Pricing for 3 lines. <br>
                    Taxes & fees included.
                </p>
                <br>
                <p style="font-size:medium;">
                    Device Limit: 3 <br>
                    5G access at no extra cost <br>
                    Unlimited texting abroad <br>
                    3G mobile hotspot data <br>
                    Nationwide coverage
                </p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/plan2']">
        <div class="card">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/2677048.jpg">
            <div class="card-img-overlay">
                <h1>Plan 2</h1>
                <br>
                <h4><b>$19.99</b></h4>
                <p style="font-size: x-small;">
                    Pricing for 5 lines. <br>
                    Taxes & fees included.
                </p>
                <br>
                <p style="font-size:medium;">
                    Device Limit: 5 <br>
                    5G access at no extra cost <br>
                    Unlimited texting abroad <br>
                    3G mobile hotspot data <br>
                    Nationwide coverage
                </p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/plan3']">
        <div class="card">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/2677048.jpg">
            <div class="card-img-overlay">
                <h1>Plan 3</h1>
                <br>
                <h4><b>$29.99</b></h4>
                <p style="font-size: x-small;">
                    Pricing for 7 lines. <br>
                    Taxes & fees included.
                </p>
                <br>
                <p style="font-size:medium;">
                    Device Limit: 7 <br>
                    5G access at no extra cost <br>
                    Unlimited texting abroad <br>
                    3G mobile hotspot data <br>
                    Nationwide coverage
                </p>
            </div>
        </div>
    </a>
</div>

