<div class="bigTitle">
    Find your plan.
</div>

<div id="seperation-strip"></div>

<div class=control-width>
    <a [routerLink]="['/purchase']">
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0274/7429/6892/products/DHP-6001360775783_1200x1200.jpg?v=1622269987">
             <div class="card-img-overlay">
                <h1>Plan 1</h1>
                <br>
                <h4><b>Price: $14.99</b></h4>
                <br>
                <p>Device Limit: 3</p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/purchase']">
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0274/7429/6892/products/DHP-6001360775783_1200x1200.jpg?v=1622269987">
            <div class="card-img-overlay">
                 <h1>Plan 2</h1>
                <br>
                <h4><b>Price: $19.99</b></h4>
                <br>
                <p>Device Limit: 5</p>
            </div>
        </div>
    </a>
</div>

<div class=control-width>
    <a [routerLink]="['/purchase']">
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0274/7429/6892/products/DHP-6001360775783_1200x1200.jpg?v=1622269987">
            <div class="card-img-overlay">
                <h1>Plan 3</h1>
                <br>
                <h4><b>Price: $29.99</b></h4>
                <br>
                <p>Device Limit: 7</p>
            </div>
        </div>
    </a>
</div>

